.sidebar {
    width: 60px !important;
    height: 100vh !important;
    position: fixed !important;
}

    .sidebar .nav-link {
        padding: 1rem 0 !important;
        text-align: center !important;
    }

.content {
    margin-left: 60px !important;
    padding: 2rem !important;
}
.hover-grow {
    transition: transform 0.2s ease-in-out;
}

    .hover-grow:hover {
        transform: scale(1.1);
        z-index:5;
    }