@page "/Device/Details/{id}"
<PageTitle>Device Details</PageTitle>
<h3>Details</h3>

@code {
    [Parameter]
    public string id { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
    }
}
